h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-color: #4d5ae5;
  --accent-color: #404bbf;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: #ffffff;
}

/* =================COMPONENTS================= */

/* .section {
  padding-bottom: 120px;
  padding-top: 120px;
}
.our-work-section {
  padding-bottom: 120px;
} */

/* .social-link,
.social-link-footer {
  fill: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
} */
/* =================COMPONENTS================= */

/* =================HEADER================= */

.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .mobile-menu-btn-icon {
    fill: #2e2f42;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

/* .top-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logotype {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logotype-right {
  color: #2e2f42;
}

.studio-is-active::after,
.portfolio-is-active::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.menu-item .studio-is-active,
.menu-item .portfolio-is-active {
  color: var(--accent-color);
}

.menu-link {
  position: relative;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding-top: 24px;
  padding-bottom: 24px; */

/*  Transition values  */

/* transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.address {
  font-style: normal;
  margin-left: auto;
}

.contacts {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 24px;
  padding-bottom: 24px; */

/*  Transition values  */
/* transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .contacts:hover,
.contacts:focus {
  color: var(--accent-color);
} */
/* ====================FOOTER==================== */

/* .footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logotype {
  display: inline-block;
  margin-bottom: 16px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-text {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-logotype-right {
  color: #f4f4fd;
}

.footer-social {
  margin-right: 80px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  align-items: center;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-desc {
  margin-right: 120px;
}

.footer-social-subjekt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-subscribe-subjekt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.subscribe-form-input {
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2e2f42;
  width: 264px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
}

.subscribe-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: var(--primary-color);
  border-radius: 4px;
  border: none;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff; */

/*  Transition values  */

/* transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .subscribe-btn:focus,
.subscribe-btn:hover {
  background-color: var(--accent-color);
} */

/* ====================FOOTER==================== */

/* =================MAIN CONTENT================= */

/* =============HERO============= */
/* .hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
}

.hero-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  color: #ffffff;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;


  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-position {
  padding-bottom: 188px;
  padding-left: 478px;
  padding-left: 478px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
} */

/* =============Features============= */

/* .advantages-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.advantages-list-item {
  width: 264px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 24px;
}

.advantages-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  margin-bottom: 8px;
}

.adventages-text {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
} */

/* ==========What are we doing========== */

/* .our-work-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
} */
/* ===============Our Team=============== */

/* .team-section {
  background: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}

.team-list-item {
  flex-basis: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-desc {
  background: #ffffff;
  padding: 32px 0px;
}

.workers-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.team-position {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
} */

/* ===============Customers=============== */

/* .customers-section {
  padding: 120px 0;
}

.customers-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
} */

/* =================PORTFOLIO================= */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 72px;
  row-gap: 48px;
  column-gap: 24px;
  gap: 24px;
}

.filters-btn {
  color: var(--primary-color);
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  letter-spacing: 0.04em;
  padding: 12px 24px;

  /* *  Transition values  */

  transition-property: color, background-color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.projekts-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.projects-list-item {
  background: #ffffff;
  flex-basis: calc((100% - 48px) / 3);
}

.projects-list-link {
  display: block;

  /* *  Transition values  */
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-link:hover,
.projects-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-list-link:hover .overlay,
.projects-list-link:focus .overlay {
  transform: translate(0, 0);
}

.projects-list-link-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: var(--primary-color);
  padding: 40px 32px;
  transform: translate(0, 100%);

  /* *  Transition values  */
  transition-property: transform;
  transition: 250ms linear;
}

.project-desc {
  background: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.projects-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}
.project-category {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* =================MODAL WINDOW================= */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;

  
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-color);
}

.modal-close-btn-icon {
  
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
} */
/* =================/MODAL WINDOW================= */

/* =================MODAL FORM================= */
/* .modal-subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  padding-left: 38px;
  color: #2e2f42;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.modal-form-input:focus + .modal-input-icon {
  fill: var(--primary-color);
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.modal-form-field-massege {
  margin-bottom: 16px;
}

.modal-form-massege {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: #2e2f42;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-massege::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-massege:focus {
  outline: none;
  border-color: var(--primary-color);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
}

.checkbox-icon {
  opacity: 0;
}

.modal-form-check:checked + .modal-form-check-desc .custom-checkbox {
  background: #404bbf;
  border: 1px solid #404bbf;
  border-radius: 2px;
}

.modal-form-check:checked + .modal-form-check-desc .checkbox-icon {
  opacity: 1;
}

.modal-form-check-desc {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.user-policy-link {
  color: var(--primary-color);
}

.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  background: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: auto;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding: 16px 32px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--accent-color);
} */

/* =================/MODAL FORM================= */
